@model AxaFailProof.Models.AxaViewModel
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    function submitevent() {
        var location = $("#LocationID").val();
        var eventdate = $("#EventDate").val();
        if (location == 0) {
            $("#ErrorLocationID").html('Please select location.');
        } else {
            $("#ErrorLocationID").html('');
        }
        if (!eventdate) {
            $("#ErrorDate").html('Please pick your preferred date.');
        } else {
            $("#ErrorDate").html('');
        }
        // check date limit
        if (location && eventdate) {
            var url = "/EventCheck";
            $.post(url, { date: eventdate, locationid: location }, function (data) {
                if (data == 20) {
                    $("#ErrorDate").html('Sorry only 20pax can registered. Please choose another location/date.');
                } else {
                    $("#FrmEvent").submit();
                }
            });
        }

    }
</script>
<!-- Section post -->
<section class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="portfolio">
        <ul  class="portfolio-items portfolio-style1 filterable-items row-fluid style2" data-columns="4">
          
          <li class="portfolio-item pocketevent first-row span12">
            <div class="inner-content">
                 
            <div class="post-info-container">
            <p class="failproof-header4">Register for an Event</p>
            </div>
            
            <div class="row-fluid style2">
        @using (Html.BeginForm("RegisterEvent", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id="FrmEvent" }))
        {
             @Html.ValidationSummary(true)
        <div class="span6 testimonial-grid-item">
          <div class="inner-content">
            <div class="joinapocketevent_text5">STEP 1:<br>
              <span class="joinapocketevent_text4">Where are you?</span> <br><br>
              <select name="LocationID" id="LocationID" style="width:350px;">
                <option value="0">Select Location</option>
                @foreach (var item in Model.Locations)
                { 
                    <option value="@item.LocationID">@item.Location1 - @item.Event</option>
                }
              </select>
              <span id="ErrorLocationID" data-valmsg-replace="true" style="color:Red; font-family:Helvetica,Arial, sans-serif; font-size:12px; font-weight:bold;"></span>
              <input type="hidden" id="EventDate" name="EventDate" /><br />
            </div>
          </div>
        </div>
        }
        <div class="span6 testimonial-grid-item">
          <div class="inner-content">
            <div class="joinapocketevent_text5">STEP 2:</div>
            	<span class="joinapocketevent_text4">Pick your preferred date</span>
                <div id="datepicker"></div>
                <span id="ErrorDate" data-valmsg-replace="true" style="color:Red; font-family:Helvetica,Arial, sans-serif; font-size:12px; font-weight:bold;"></span>
                <br />
                <input name="submit" type="submit" id="submit" class="button.blue img" tabindex="5" value="NEXT" onclick="submitevent();" />
          </div>
          </div>
        
        </div>
      </div>
     		<div class="gap" style="height:50px"></div>
	</ul>
      </div>
      
    </div>
  </div>
</section>
<script>

    $("#datepicker").datepicker(
        {
            onSelect: function (date) {
                $("#EventDate").val(date);
            },
            dateFormat: "yy-mm-dd"
        }
    );
</script>