<!-- copyright -->
<section id="copyright">
  <div class="container"><!-- container -->
    <div class="row-fluid"><!-- row-fluid -->
      <div class="row-fluid"><!-- row-fluid -->
        <div class="copyright-text span4 pull-left"> AXA FAIL PROOF 2013. All rights Reserved.</div><!-- copyright-text span4 pull-left -->
        <div class="textright span8 clearfix">
          <ul class="social-icons clearfix">
          AXA PHILIPPINES	|	<span onclick="window.open('http://axa.com.ph/terms-and-conditions','_newtab');" style="cursor:pointer;">TERMS & CONDITIONS</span>	|	<span onclick="window.open('http://axa.com.ph/privacy-policy','_newtab');" style="cursor:pointer;">PRIVACY POLICY</span>	|	<span onclick="window.open('http://axa.com.ph/','_newtab');" style="cursor:pointer;">CONTACT US</span>
          </ul><!-- end -->
        </div><!-- end -->
      </div><!-- end -->
    </div><!-- end -->
  </div><!-- end -->
</section><!-- end -->
<!-- end -->