@model AxaFailProof.Models.AxaViewModel
<div class="widget widget_meta widget_archive">
<h3>Recent posts</h3>
<ul >
    @foreach (var item in Model.ResentPost)
    {
        DateTime commentdt = DateTime.Parse(item.DateCreated.ToString()); 
                        
    <li>
    <a class="" href="@Url.Action("Story", "Home", new { id = item.StoryID })">@item.Title</a>
    <p class="date">@commentdt.ToString("MMM dd, yyyy") at @commentdt.ToString("hh:mm tt")</p>
    </li>
    }
</ul>
</div>