USE [DB_69490_axafailproof]
GO
/****** Object:  ForeignKey [MembershipUser]    Script Date: 04/02/2014 09:54:35 ******/
ALTER TABLE [dbo].[Memberships] DROP CONSTRAINT [MembershipUser]
GO
/****** Object:  ForeignKey [UserProfile]    Script Date: 04/02/2014 09:54:54 ******/
ALTER TABLE [dbo].[Profiles] DROP CONSTRAINT [UserProfile]
GO
/****** Object:  ForeignKey [UsersInRoleRole]    Script Date: 04/02/2014 09:56:07 ******/
ALTER TABLE [dbo].[UsersInRoles] DROP CONSTRAINT [UsersInRoleRole]
GO
/****** Object:  ForeignKey [UsersInRoleUser]    Script Date: 04/02/2014 09:56:07 ******/
ALTER TABLE [dbo].[UsersInRoles] DROP CONSTRAINT [UsersInRoleUser]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 04/02/2014 09:54:54 ******/
ALTER TABLE [dbo].[Profiles] DROP CONSTRAINT [UserProfile]
GO
DROP TABLE [dbo].[Profiles]
GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 04/02/2014 09:54:35 ******/
ALTER TABLE [dbo].[Memberships] DROP CONSTRAINT [MembershipUser]
GO
DROP TABLE [dbo].[Memberships]
GO
/****** Object:  Table [dbo].[UsersInRoles]    Script Date: 04/02/2014 09:56:07 ******/
ALTER TABLE [dbo].[UsersInRoles] DROP CONSTRAINT [UsersInRoleRole]
GO
ALTER TABLE [dbo].[UsersInRoles] DROP CONSTRAINT [UsersInRoleUser]
GO
DROP TABLE [dbo].[UsersInRoles]
GO
/****** Object:  Table [dbo].[Mushroom]    Script Date: 04/02/2014 09:54:44 ******/
DROP TABLE [dbo].[Mushroom]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 04/02/2014 09:55:02 ******/
DROP TABLE [dbo].[Quiz]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 04/02/2014 09:55:11 ******/
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[SocialUsers]    Script Date: 04/02/2014 09:55:19 ******/
DROP TABLE [dbo].[SocialUsers]
GO
/****** Object:  Table [dbo].[StaticPage]    Script Date: 04/02/2014 09:55:27 ******/
DROP TABLE [dbo].[StaticPage]
GO
/****** Object:  Table [dbo].[Stories]    Script Date: 04/02/2014 09:55:35 ******/
DROP TABLE [dbo].[Stories]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 04/02/2014 09:55:47 ******/
DROP TABLE [dbo].[Topic]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/02/2014 09:55:58 ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 04/02/2014 09:53:24 ******/
DROP TABLE [dbo].[Applications]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 04/02/2014 09:53:34 ******/
DROP TABLE [dbo].[Banner]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 04/02/2014 09:53:42 ******/
DROP TABLE [dbo].[Comments]
GO
/****** Object:  Table [dbo].[ContactUs]    Script Date: 04/02/2014 09:53:50 ******/
DROP TABLE [dbo].[ContactUs]
GO
/****** Object:  Table [dbo].[EventsRegistered]    Script Date: 04/02/2014 09:54:00 ******/
DROP TABLE [dbo].[EventsRegistered]
GO
/****** Object:  Table [dbo].[FailProofing]    Script Date: 04/02/2014 09:54:08 ******/
DROP TABLE [dbo].[FailProofing]
GO
/****** Object:  Table [dbo].[HealthRiskScore]    Script Date: 04/02/2014 09:54:16 ******/
DROP TABLE [dbo].[HealthRiskScore]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 04/02/2014 09:54:24 ******/
DROP TABLE [dbo].[Location]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 04/02/2014 09:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[Event] [nvarchar](200) NULL,
	[EventDescription] [nvarchar](3000) NULL,
	[EventDate] [nvarchar](50) NULL,
	[EventTime] [nvarchar](50) NULL,
	[Location] [nvarchar](100) NULL,
	[DateCreated] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Location] ON
INSERT [dbo].[Location] ([LocationID], [Event], [EventDescription], [EventDate], [EventTime], [Location], [DateCreated], [Status]) VALUES (2, N'C# Programming Tutorial', N'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt', N'Feb 1 - Feb 15', N'10:30 AM - 10:30 PM', N'Taguig City', CAST(0x0000A2AB00B17AC4 AS DateTime), 1)
INSERT [dbo].[Location] ([LocationID], [Event], [EventDescription], [EventDate], [EventTime], [Location], [DateCreated], [Status]) VALUES (3, N'AXA Redefining our Lives', N'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt', N'Feb 1 - Feb 15', N'10:30 AM - 10:30 PM', N'Makati City', CAST(0x0000A2AB00B23AF4 AS DateTime), 1)
INSERT [dbo].[Location] ([LocationID], [Event], [EventDescription], [EventDate], [EventTime], [Location], [DateCreated], [Status]) VALUES (4, N'Baby Steps: A morning to remember', N'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt', N'Feb 15 - Feb 30', N'10:30 AM - 10:30 PM', N'Mandaluyong City', CAST(0x0000A2AB00B24B5C AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Location] OFF
/****** Object:  Table [dbo].[HealthRiskScore]    Script Date: 04/02/2014 09:54:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthRiskScore](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Bday] [nvarchar](50) NOT NULL,
	[Gender] [nchar](10) NULL,
	[Smoker] [nchar](10) NULL,
	[Pounds] [int] NULL,
	[Feet] [int] NULL,
	[Inches] [int] NULL,
	[ParentsIllness] [nchar](10) NOT NULL,
	[YouIllness] [nchar](10) NULL,
	[Alcohol] [int] NULL,
	[Coffee] [int] NULL,
	[Exercise] [nchar](10) NULL,
	[Income] [int] NULL,
	[Savings] [int] NULL,
	[SaveFor] [nvarchar](4000) NULL,
	[Owned] [nvarchar](4000) NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK_HealthRiskScore] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HealthRiskScore] ON
INSERT [dbo].[HealthRiskScore] ([ID], [Bday], [Gender], [Smoker], [Pounds], [Feet], [Inches], [ParentsIllness], [YouIllness], [Alcohol], [Coffee], [Exercise], [Income], [Savings], [SaveFor], [Owned], [Email]) VALUES (1, N'1987-06-15', N'M         ', N'N         ', 120, 5, 4, N'N         ', N'N         ', 1, 2, N'Y         ', 35000, 200000, N'test', N'test', N'test@yahoo.com')
INSERT [dbo].[HealthRiskScore] ([ID], [Bday], [Gender], [Smoker], [Pounds], [Feet], [Inches], [ParentsIllness], [YouIllness], [Alcohol], [Coffee], [Exercise], [Income], [Savings], [SaveFor], [Owned], [Email]) VALUES (2, N'1986-06-10', N'M         ', N'Y         ', 120, 5, 4, N'N         ', N'N         ', 1, 1, N'Y         ', 45000, 400000, N'admin test', N'admin test, secret test', N'test@gmail.com')
INSERT [dbo].[HealthRiskScore] ([ID], [Bday], [Gender], [Smoker], [Pounds], [Feet], [Inches], [ParentsIllness], [YouIllness], [Alcohol], [Coffee], [Exercise], [Income], [Savings], [SaveFor], [Owned], [Email]) VALUES (3, N'1969-03-18', N'F         ', N'N         ', 90, 4, 8, N'N         ', N'N         ', 1, 1, N'N         ', 50000, 20000, N'Educ Expenses, house renovation', N'House and lot, lot', N'bernadette.camago@axa.com.ph')
SET IDENTITY_INSERT [dbo].[HealthRiskScore] OFF
/****** Object:  Table [dbo].[FailProofing]    Script Date: 04/02/2014 09:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FailProofing](
	[FailID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](200) NULL,
	[LastName] [nvarchar](200) NULL,
	[LocationCity] [nvarchar](200) NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[BirthDate] [date] NULL,
	[DateCreated] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_FailProofing] PRIMARY KEY CLUSTERED 
(
	[FailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventsRegistered]    Script Date: 04/02/2014 09:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventsRegistered](
	[RegEventID] [int] IDENTITY(1,1) NOT NULL,
	[LocationID] [int] NOT NULL,
	[FirstName] [nvarchar](200) NULL,
	[LastName] [nvarchar](200) NULL,
	[LocationCity] [nvarchar](200) NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[BirthDate] [date] NULL,
	[CardHolder] [bit] NULL,
	[DateCreated] [datetime] NULL,
	[Status] [bit] NULL,
	[Terms] [bit] NULL,
 CONSTRAINT [PK_EventsRegistered] PRIMARY KEY CLUSTERED 
(
	[RegEventID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EventsRegistered] ON
INSERT [dbo].[EventsRegistered] ([RegEventID], [LocationID], [FirstName], [LastName], [LocationCity], [ContactNumber], [Email], [BirthDate], [CardHolder], [DateCreated], [Status], [Terms]) VALUES (14, 3, NULL, NULL, NULL, NULL, NULL, CAST(0x00000000 AS Date), NULL, CAST(0x0000A2F80189382E AS DateTime), 1, NULL)
INSERT [dbo].[EventsRegistered] ([RegEventID], [LocationID], [FirstName], [LastName], [LocationCity], [ContactNumber], [Email], [BirthDate], [CardHolder], [DateCreated], [Status], [Terms]) VALUES (15, 2, N'Cassie', N'Marquez', N'Makati City', N'0917-3547933', N'cmarquez794@gmail.com', CAST(0x9C120B00 AS Date), 0, CAST(0x0000A2FB0140ECA4 AS DateTime), 1, 1)
INSERT [dbo].[EventsRegistered] ([RegEventID], [LocationID], [FirstName], [LastName], [LocationCity], [ContactNumber], [Email], [BirthDate], [CardHolder], [DateCreated], [Status], [Terms]) VALUES (16, 5, NULL, NULL, NULL, NULL, NULL, CAST(0x00000000 AS Date), NULL, CAST(0x0000A2FC002BCE7F AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[EventsRegistered] OFF
/****** Object:  Table [dbo].[ContactUs]    Script Date: 04/02/2014 09:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUs](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Message] [nvarchar](max) NULL,
	[DateCreated] [datetime] NULL,
 CONSTRAINT [PK_ContactUs] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ContactUs] ON
SET IDENTITY_INSERT [dbo].[ContactUs] OFF
/****** Object:  Table [dbo].[Comments]    Script Date: 04/02/2014 09:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[StoryID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Website] [nvarchar](200) NULL,
	[Comments] [nvarchar](max) NULL,
	[DateCreated] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 04/02/2014 09:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[BannerID] [int] IDENTITY(1,1) NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
	[Image] [nvarchar](200) NOT NULL,
	[Label] [nvarchar](100) NULL,
	[Button] [nvarchar](100) NULL,
	[Link] [nvarchar](200) NULL,
	[DateCreated] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[BannerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Banner] ON
INSERT [dbo].[Banner] ([BannerID], [Position], [Image], [Label], [Button], [Link], [DateCreated], [Status]) VALUES (4, N'Fail Proof your Health', N'70d1e81f-title-failproof-health.jpg', NULL, NULL, NULL, CAST(0x0000A2AA018530D0 AS DateTime), 1)
INSERT [dbo].[Banner] ([BannerID], [Position], [Image], [Label], [Button], [Link], [DateCreated], [Status]) VALUES (5, N'What is Fail Proof', N'293be0c4-title-what-is-failproof-header.jpg', NULL, NULL, NULL, CAST(0x0000A2AA01855074 AS DateTime), 1)
INSERT [dbo].[Banner] ([BannerID], [Position], [Image], [Label], [Button], [Link], [DateCreated], [Status]) VALUES (6, N'Stories', N'43143c33-title-share-story.jpg', NULL, NULL, NULL, CAST(0x0000A2AA01856A3C AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Banner] OFF
/****** Object:  Table [dbo].[Applications]    Script Date: 04/02/2014 09:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationName] [nvarchar](235) NOT NULL,
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Applications] ([ApplicationName], [ApplicationId], [Description]) VALUES (N'/', N'694af4b1-0014-429d-9fc1-3b874f4a44e5', NULL)
/****** Object:  Table [dbo].[Users]    Script Date: 04/02/2014 09:55:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[IsAnonymous] [bit] NOT NULL,
	[LastActivityDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([ApplicationId], [UserId], [UserName], [IsAnonymous], [LastActivityDate]) VALUES (N'694af4b1-0014-429d-9fc1-3b874f4a44e5', N'ce35722f-67f2-401a-be9a-0054bd74870a', N'Jaja', 0, CAST(0x0000A2FC0019A7BE AS DateTime))
INSERT [dbo].[Users] ([ApplicationId], [UserId], [UserName], [IsAnonymous], [LastActivityDate]) VALUES (N'694af4b1-0014-429d-9fc1-3b874f4a44e5', N'5765ee6f-9a17-4cd0-a91d-4176f8c8ee42', N'jerome.hung@omnicommediagroup.com', 0, CAST(0x0000A2FC008C16EC AS DateTime))
INSERT [dbo].[Users] ([ApplicationId], [UserId], [UserName], [IsAnonymous], [LastActivityDate]) VALUES (N'694af4b1-0014-429d-9fc1-3b874f4a44e5', N'8698f389-983a-48d0-a6a8-43060c73a718', N'tinamontalban', 0, CAST(0x0000A300000EE7F8 AS DateTime))
/****** Object:  Table [dbo].[Topic]    Script Date: 04/02/2014 09:55:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[DateCreated] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Topic] ON
INSERT [dbo].[Topic] ([TopicID], [Title], [DateCreated], [Status]) VALUES (11, N'Health Facts & Figures', CAST(0x0000A2B100E090AC AS DateTime), 1)
INSERT [dbo].[Topic] ([TopicID], [Title], [DateCreated], [Status]) VALUES (12, N'Fitness', CAST(0x0000A2B100624B17 AS DateTime), 1)
INSERT [dbo].[Topic] ([TopicID], [Title], [DateCreated], [Status]) VALUES (13, N'Diabetes', CAST(0x0000A2B100627865 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Topic] OFF
/****** Object:  Table [dbo].[Stories]    Script Date: 04/02/2014 09:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stories](
	[StoryID] [int] IDENTITY(1,1) NOT NULL,
	[TopicID] [int] NULL,
	[Author] [nvarchar](100) NULL,
	[Title] [nvarchar](100) NULL,
	[Image] [nvarchar](200) NULL,
	[Body] [nvarchar](max) NULL,
	[CommnetsCount] [int] NOT NULL,
	[Tags] [nvarchar](max) NULL,
	[MetaKeyWords] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](200) NULL,
	[DateCreated] [datetime] NULL,
	[Status] [bit] NULL,
	[Featured] [bit] NULL,
 CONSTRAINT [PK_Stories2] PRIMARY KEY CLUSTERED 
(
	[StoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Stories] ON
SET IDENTITY_INSERT [dbo].[Stories] OFF
/****** Object:  Table [dbo].[StaticPage]    Script Date: 04/02/2014 09:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaticPage](
	[StaticID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[MetaKeyWords] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](200) NULL,
	[DateCreated] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Static] PRIMARY KEY CLUSTERED 
(
	[StaticID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StaticPage] ON
SET IDENTITY_INSERT [dbo].[StaticPage] OFF
/****** Object:  Table [dbo].[SocialUsers]    Script Date: 04/02/2014 09:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialUsers](
	[SocialID] [nvarchar](100) NOT NULL,
	[SocialMedia] [nvarchar](50) NULL,
	[UserName] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[DateCreated] [datetime] NULL,
 CONSTRAINT [PK_SocialUsers] PRIMARY KEY CLUSTERED 
(
	[SocialID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SocialUsers] ([SocialID], [SocialMedia], [UserName], [FullName], [FirstName], [LastName], [Email], [DateCreated]) VALUES (N'100000132334328', N'Facebook', NULL, N'Nash De Vivar', NULL, NULL, NULL, CAST(0x0000A2CD01247338 AS DateTime))
INSERT [dbo].[SocialUsers] ([SocialID], [SocialMedia], [UserName], [FullName], [FirstName], [LastName], [Email], [DateCreated]) VALUES (N'1002144341', N'Facebook', NULL, N'Amor Balagtas', NULL, NULL, NULL, CAST(0x0000A2C701316DE1 AS DateTime))
INSERT [dbo].[SocialUsers] ([SocialID], [SocialMedia], [UserName], [FullName], [FirstName], [LastName], [Email], [DateCreated]) VALUES (N'101588956426104995507', N'Google', NULL, N'ja salazar', NULL, NULL, N'ja.salazar0817@gmail.com', CAST(0x0000A2B50133442C AS DateTime))
/****** Object:  Table [dbo].[Roles]    Script Date: 04/02/2014 09:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Roles] ([ApplicationId], [RoleId], [RoleName], [Description]) VALUES (N'694af4b1-0014-429d-9fc1-3b874f4a44e5', N'84d71557-0151-4a0f-9ab0-4d2f9dd5ee7a', N'Administrator', NULL)
INSERT [dbo].[Roles] ([ApplicationId], [RoleId], [RoleName], [Description]) VALUES (N'694af4b1-0014-429d-9fc1-3b874f4a44e5', N'b774a3e0-4ff3-408e-b8cb-fe0e7135efda', N'Site Admin', NULL)
/****** Object:  Table [dbo].[Quiz]    Script Date: 04/02/2014 09:55:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[QuizID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](200) NULL,
	[LastName] [nvarchar](200) NULL,
	[LocationCity] [nvarchar](200) NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[BirthDate] [date] NULL,
	[Score] [nvarchar](50) NULL,
	[DateCreated] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[QuizID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Quiz] ON
INSERT [dbo].[Quiz] ([QuizID], [FirstName], [LastName], [LocationCity], [ContactNumber], [Email], [BirthDate], [Score], [DateCreated], [Status]) VALUES (21, NULL, NULL, NULL, NULL, NULL, CAST(0x00000000 AS Date), N'17', CAST(0x0000A2CA014B5284 AS DateTime), 1)
INSERT [dbo].[Quiz] ([QuizID], [FirstName], [LastName], [LocationCity], [ContactNumber], [Email], [BirthDate], [Score], [DateCreated], [Status]) VALUES (22, NULL, NULL, NULL, NULL, NULL, CAST(0x00000000 AS Date), N'23', CAST(0x0000A2CC0074DAC5 AS DateTime), 1)
INSERT [dbo].[Quiz] ([QuizID], [FirstName], [LastName], [LocationCity], [ContactNumber], [Email], [BirthDate], [Score], [DateCreated], [Status]) VALUES (23, N'Dandee', N'Adapon', N'Paranaque', N'0917-6636666', N'dandee@yahoo.com', CAST(0x73040B00 AS Date), N'21', CAST(0x0000A2CE014A0FB4 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Quiz] OFF
/****** Object:  Table [dbo].[Mushroom]    Script Date: 04/02/2014 09:54:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mushroom](
	[MushroomID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Mushroom] PRIMARY KEY CLUSTERED 
(
	[MushroomID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Mushroom] ON
INSERT [dbo].[Mushroom] ([MushroomID], [Title], [Body], [DateCreated], [Status]) VALUES (2, N'TAKE THE OFFBEAT DEATH QUIZ', N'<h3>WHAT&#39;S YOUR<br />
<h7>HEALTH RISK SCORE?</h7></h3>

<p><a href="/HealthRiskScore"><img class="img-center2" src="/UserFiles/images/featured-img-healthriskscore.jpg" /></a></p>

<p><h8>FIND OUT YOUR HEALTH RISK SCORE</h8></p>

<p><a href="/HealthRiskScore"><img border="0" class="img-center2" height="55" src="/UserFiles/images/btn-healthriskscore.png" width="250" /></a></p>
', CAST(0x0000A2AA014CA5D0 AS DateTime), 1)
INSERT [dbo].[Mushroom] ([MushroomID], [Title], [Body], [DateCreated], [Status]) VALUES (5, N'AXA ION BANNER', N'<p><a href="/RegFailProofing"><input border="0" class="btn-wanttoknow" name="submit" src="/UserFiles/images/btn-wanttoknow.png" type="image" value="Submit" /> </a><a href="/Quiz"><input border="0" class="btn-takethequiz" name="submit" src="/UserFiles/images/btn-takethequiz.png" type="image" value="Submit" /></a></p>
', CAST(0x0000A2AA014FB248 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Mushroom] OFF
/****** Object:  Table [dbo].[UsersInRoles]    Script Date: 04/02/2014 09:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersInRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[UsersInRoles] ([UserId], [RoleId]) VALUES (N'ce35722f-67f2-401a-be9a-0054bd74870a', N'84d71557-0151-4a0f-9ab0-4d2f9dd5ee7a')
INSERT [dbo].[UsersInRoles] ([UserId], [RoleId]) VALUES (N'5765ee6f-9a17-4cd0-a91d-4176f8c8ee42', N'b774a3e0-4ff3-408e-b8cb-fe0e7135efda')
INSERT [dbo].[UsersInRoles] ([UserId], [RoleId]) VALUES (N'8698f389-983a-48d0-a6a8-43060c73a718', N'b774a3e0-4ff3-408e-b8cb-fe0e7135efda')
/****** Object:  Table [dbo].[Memberships]    Script Date: 04/02/2014 09:54:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memberships](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordFormat] [int] NOT NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[PasswordQuestion] [nvarchar](256) NULL,
	[PasswordAnswer] [nvarchar](128) NULL,
	[IsApproved] [bit] NOT NULL,
	[IsLockedOut] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NOT NULL,
	[LastPasswordChangedDate] [datetime] NOT NULL,
	[LastLockoutDate] [datetime] NOT NULL,
	[FailedPasswordAttemptCount] [int] NOT NULL,
	[FailedPasswordAttemptWindowStart] [datetime] NOT NULL,
	[FailedPasswordAnswerAttemptCount] [int] NOT NULL,
	[FailedPasswordAnswerAttemptWindowsStart] [datetime] NOT NULL,
	[Comment] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 04/02/2014 09:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[UserId] [uniqueidentifier] NOT NULL,
	[PropertyNames] [nvarchar](4000) NOT NULL,
	[PropertyValueStrings] [nvarchar](4000) NOT NULL,
	[PropertyValueBinary] [image] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  ForeignKey [MembershipUser]    Script Date: 04/02/2014 09:54:35 ******/
ALTER TABLE [dbo].[Memberships]  WITH CHECK ADD  CONSTRAINT [MembershipUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Memberships] CHECK CONSTRAINT [MembershipUser]
GO
/****** Object:  ForeignKey [UserProfile]    Script Date: 04/02/2014 09:54:54 ******/
ALTER TABLE [dbo].[Profiles]  WITH CHECK ADD  CONSTRAINT [UserProfile] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Profiles] CHECK CONSTRAINT [UserProfile]
GO
/****** Object:  ForeignKey [UsersInRoleRole]    Script Date: 04/02/2014 09:56:07 ******/
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [UsersInRoleRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [UsersInRoleRole]
GO
/****** Object:  ForeignKey [UsersInRoleUser]    Script Date: 04/02/2014 09:56:07 ******/
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [UsersInRoleUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [UsersInRoleUser]
GO
